# Universal Automated Tutor

Given a set of training questions, create a generalizable tutor that should infer a student’s understanding of underlying concepts based on their past performance on previous questions and choose the next training question which will optimize the student’s progression toward proficiency.

# 1. Initializing the model

Explanation of how you are building distributions using ALL of the data from our students. Include picture for chi-sq distribution

In [1]:
from modelBuilder import importData
data, pairs = importData()

C:\Users\C22Evan.Marrone\Anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\C22Evan.Marrone\Anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,stud_id,duration,student_response_type,problem_id,step,attempt_num,last_attempt,outcome,input,feedback,hint,correct,incorrect
0,Stu_0012ae7d5d1993619f0bad91630b7c79,576.0,HINT_REQUEST,13603,"Step0:8788:Lines m and n are parallel, what is...",1.0,1.0,HINT,NaN,System displays first scaffold,1,0,0
1,Stu_0012ae7d5d1993619f0bad91630b7c79,75.0,HINT_REQUEST,13603,Step1:8792:What is the measure of angle 2? SYSTEM,1.0,0.0,HINT,NaN,Lines m and n are parallel and intersected by ...,1,0,0
2,Stu_0012ae7d5d1993619f0bad91630b7c79,37.0,ATTEMPT,13603,Step1:8792:What is the measure of angle 2? SYSTEM,2.0,1.0,INCORRECT,55,That is not correct. Try again.,0,0,1
3,Stu_0012ae7d5d1993619f0bad91630b7c79,166.0,ATTEMPT,13450,Step0:8635:Jacqueline is a runner who hopes to...,1.0,1.0,CORRECT,9 miles,NaN,0,1,0
4,Stu_00176143fc2991346939888160a9b1ce,14.0,HINT_REQUEST,12489,Step0:7674:Lee correctly answered 26 out of 51...,1.0,1.0,HINT,NaN,System displays first scaffold,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266395,Stu_fe96fe63d83aa63c4ec667167fc7f1ce,99.0,HINT_REQUEST,566,"Step2:568:Good, there are 4 rectangles of size...",3.0,1.0,HINT,NaN,The same rectangle of size 1 can be used in di...,1,0,0
1266396,Stu_fe96fe63d83aa63c4ec667167fc7f1ce,28.0,ATTEMPT,698,Step0:698:The table above shows the annual sal...,1.0,0.0,INCORRECT,"C. $27,000",The difference has to be positive.,0,0,1
1266397,Stu_fe96fe63d83aa63c4ec667167fc7f1ce,6.0,ATTEMPT,698,Step0:698:The table above shows the annual sal...,2.0,1.0,INCORRECT,"A. $25,500",NaN,0,0,1
1266398,Stu_fe96fe63d83aa63c4ec667167fc7f1ce,103.0,ATTEMPT,566,Step0:566:How many rectangles are there in Fig...,1.0,1.0,INCORRECT,9,NaN,0,0,1
1266399,Stu_fe96fe63d83aa63c4ec667167fc7f1ce,46.0,ATTEMPT,566,Step1:567:First let s figure out the type of r...,1.0,1.0,INCORRECT,10,"No, that is not correct. Please try again.",0,0,1

In [18]:
data.head()

,stud_id,duration,student_response_type,problem_id,step,attempt_num,last_attempt,outcome,input,feedback,hint,correct,incorrect
0,Stu_0012ae7d5d1993619f0bad91630b7c79,576.0,HINT_REQUEST,13603,"Step0:8788:Lines m and n are parallel, what is...",1.0,1.0,HINT,NaN,System displays first scaffold,1,0,0
1,Stu_0012ae7d5d1993619f0bad91630b7c79,75.0,HINT_REQUEST,13603,Step1:8792:What is the measure of angle 2? SYSTEM,1.0,0.0,HINT,NaN,Lines m and n are parallel and intersected by ...,1,0,0
2,Stu_0012ae7d5d1993619f0bad91630b7c79,37.0,ATTEMPT,13603,Step1:8792:What is the measure of angle 2? SYSTEM,2.0,1.0,INCORRECT,55,That is not correct. Try again.,0,0,1
3,Stu_0012ae7d5d1993619f0bad91630b7c79,166.0,ATTEMPT,13450,Step0:8635:Jacqueline is a runner who hopes to...,1.0,1.0,CORRECT,9 miles,NaN,0,1,0
4,Stu_00176143fc2991346939888160a9b1ce,14.0,HINT_REQUEST,12489,Step0:7674:Lee correctly answered 26 out of 51...,1.0,1.0,HINT,NaN,System displays first scaffold,1,0,0

In [19]:
pairs.head(5)

    problem_id         input
3        13450       9 miles
6        12489           0.5
9         6113           85%
15       10553          C. 5
19        6351  It decreases

In [20]:
from modelBuilder import distributionBuilder
distributions = distributionBuilder(data)

In [22]:
distributions[0].head()

,durationLower,hintLower,incorrectLower,durationUpper,hintUpper,incorrectUpper
problem_id,,,,,,
7,266.446968,4.718327,1.997720,522.125296,8.794116,4.312253
12,98.950352,1.373719,1.300298,253.682629,5.835896,3.399405
21,42.653503,0.101037,0.605915,93.110577,0.786937,1.557401
22,188.791350,1.545082,1.131963,321.094223,3.740606,2.951458
26,86.887437,0.742887,0.515258,188.347077,3.050812,1.530460

Next we create a Student object which stores information about the average number of incorrect answers per question, the average number of hints taken, and the average duration per problem, and a function to determine the next question based on their given averages. Everyone who uses the tutor will be their own instance of a student object.

In [47]:
from student import Student
import modelBuilder as mb
from random import choice

studentData = mb.getStudentData(data)
student = Student(studentData)
# student.nextQ(data, pairs, distributions[0])
student.

0.5

In [36]:
import modelBuilder as mb
import random
from student import Student


def initialize():
    ''' 
    Initializes the model distributions as well as the current student object

    Returns:
    student: Student object with important attributes 'data', 'duration', 'hint', 'incorrect', 'answer', and 'problem'
    data: Pandas df of all the data from the math data sets
    pairs: Pandas df of all the question and answer pairs
    distributions: Pandas df of the question distributions
    '''
    data, pairs = mb.importData()
    distributions, groupDf = mb.distributionBuilder(data)
    
    studentData = getStudentData(data)
    
    student = mb.Student(studentData)
    
    questionData = newdf.iloc[11:13, :]
    print(questionData)
    student.updateStudent(questionData)
    student.nextQ(data, pairs, distributions)

    return student, data, pairs, distributions

In [87]:
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

real_ans = 'the height of a ball thrown straight up over time'
stud_ans = 'wijuadsjiofvnwavdkm'
try:
    ans = float(ans)
    error = abs(real_ans - stud_ans) / abs(real_ans)
    if error < 0.005:
        correct = True
except:
    ratio = fuzz.token_sort_ratio(real_ans.lower().strip(), stud_ans.lower().strip())
    if ratio > 75:
        correct = True
print(ratio)

21

In [45]:
real_ans = '1.1321'
stud_ans = '1.1211'
try:
    ans = round(float(ans),4)
except:
    ans = ans
ans

1.0

In [35]:
ans = '1.121421241'
float(ans)

1.121421241